<div class='_document-preview _certificates-item placeholder' id='cert-[[+ID+]]' data-bs-toggle="modal" data-bs-target="#modal-cert-[[+ID+]]" data-mx-cid="[[+ID+]]" data-mx-cert="[[+CONTENT+]]"></div>
<div class="_certificates-item-fullview">
  <canvas id="cert-fullview-[[+ID+]]"></canvas>
</div>
<div class="modal fade" id="modal-cert-[[+ID+]]" tabindex="-1" aria-labelledby="modal-cert-[[+ID+]]Label" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal-cert-[[+ID+]]Label">[[+PAGETITLE+]]</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="_modal-canvas" id='body-cert-[[+ID+]]'></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>