@media screen and (max-width: 1920px) {
  ._navbar-mini ._navigation ._link {
    padding: 6px calc(23px + (100vw - 1140px) * (9 / 780)) !important;
  }
  ._navbar-mini ._navigation ._link ._link-node {
    margin-left: calc(-1 * calc(23px + (100vw - 1140px) * (9 / 780)));
  }
}
@media screen and (max-width: 1140px) {
  ._navbar-mini ._navigation ._link {
    padding: 6px 23px !important;
  }
  ._navbar-mini ._navigation ._link ._link-node {
    margin-left: -23px;
  }
}
._navbar-mini {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.65) !important;
  z-index: 1;
  /* Navbar Search*/
}
@media screen and (max-width: 1140px) {
  ._navbar-mini {
    justify-content: end;
  }
}
._navbar-mini ._navigation {
  -moz-column-gap: 12px;
       column-gap: 12px;
  padding-right: 3em;
}
@media screen and (max-width: 1140px) {
  ._navbar-mini ._navigation {
    display: none;
  }
}
._navbar-mini ._navigation ._node-transparent {
  background: white;
  display: inherit;
  flex-direction: column;
}
._navbar-mini ._navigation ._link:hover ._link-node {
  display: flex !important;
}
._navbar-mini ._navigation ._link ._link-node {
  display: none;
  position: absolute;
  padding-top: 16px;
  background: transparent;
}
._navbar-mini ._navigation ._link ._link-node._active {
  display: flex;
}
._navbar-mini ._navigation ._link ._link-item ._link-node-sub {
  top: 0;
  left: 100%;
}
._navbar-mini ._navigation ._link ._link-item {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
  min-width: 300px;
  padding: 12px 17px 12px 27px;
  text-align: left;
  border-radius: 0;
  border: 0;
  cursor: pointer;
}
._navbar-mini ._navigation ._link ._link-item a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
._navbar-mini ._navigation ._link ._link-item:hover {
  background: #CEE4ED;
}
._navbar-mini ._navigation ._link ._link-item ._link-node-sub {
  display: none;
  position: absolute;
  padding-top: 16px;
  background: transparent;
  min-height: 100%;
  cursor: default;
}
._navbar-mini ._navigation ._link ._link-item ._link-node-sub._active {
  display: flex;
}
._navbar-mini ._navigation ._link ._link-item ._link-node-sub ._node-transparent-sub {
  display: inherit;
  flex-direction: column;
  background: white;
  width: 100%;
}
._navbar-mini ._navigation ._link ._link-item:hover > ._link-node-sub {
  display: flex !important;
  width: 100%;
}
._navbar-mini ._navigation ._link-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0;
}
._navbar-mini ._navigation ._link:hover {
  background: white !important;
  background-color: white !important;
}
._navbar-mini ._navigation ._link:hover ._link-text {
  color: black !important;
}
._navbar-mini ._navigation ._link.active {
  background: white !important;
  background-color: white !important;
  border: 1px solid white !important;
}
._navbar-mini ._navigation ._link.active ._link-text {
  color: black !important;
}
._navbar-mini ._navbar-search {
  width: 317px;
}
@media screen and (max-width: 375px) {
  ._navbar-mini ._navbar-search {
    width: 100%;
  }
}
._navbar-mini ._navbar-search ._answers {
  margin-top: 8px;
  right: 0;
  left: 0;
  width: 100%;
}
._navbar-mini ._navbar-search ._answers ._answer-link {
  width: 100%;
  padding: 10px 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
._navbar-mini ._navbar-search ._answers ._answer-link ._hint {
  background: #2088B3;
  font-weight: 400;
  -webkit-text-decoration: white;
          text-decoration: white;
}
._navbar-mini ._navbar-search input {
  border: 0;
  border-radius: 6px;
  z-index: -1;
}
@media screen and (max-width: 1140px) {
  ._navbar-mini ._navbar-search input {
    height: 29px;
  }
}
._navbar-mini ._navbar-search img {
  height: 65%;
  top: 0;
  right: 8px;
  bottom: 0;
}/*# sourceMappingURL=navbarMini.css.map */