<div class="_stuff-model" id="stuffModel">
    <div class="_model-download">
        <p class="_model-label">
            <img src="/assets/reborn/images/objects/product/3d-icon-black.svg" alt="3D">
            CAD модели
        </p>
        <select class="form-select _model-select" data-fl-model='[[+BASE64_DATA+]]'></select>
        <p class="_model-label">
            Выберите формат:
        </p>
        <a class="_model-select-download" href="#">Скачать</a>
    </div>
    <div class="_model-image">
        <img src="/assets/reborn/images/default/image-stuff-model-preview.png">
    </div>
</div>