<div class='_certificates-view'>
    <div class="_cert-item">
        <h1>[[+PAGETITLE+]]</h1>
        <div class="_cert-list">
          <img src="/assets/reborn/images/pages/7682463/igc.svg" alt="igc">
          <img src="/assets/reborn/images/pages/7682463/iso.svg" alt="iso">
          <img src="/assets/reborn/images/pages/7682463/iqnet.svg" alt="iqnet">
          <img src="/assets/reborn/images/pages/7682463/rmrs.svg" alt="rmrs">
          <img src="/assets/reborn/images/pages/7682463/eac.svg" alt="eac">
          <img src="/assets/reborn/images/pages/7682463/eac-black.svg" alt="eac-black">
        </div>
        [[+ITEMS+]]
    </div>
</div>