<div class="_products-info">
    <h1 class="_info-title">[*nd_hardTitle*]</h1>
    <div class="_info-container">
        <div class="_info-block-image" id="imageSlider">
            <div class="_image-preview" id="imagePreview">
                <img src="/assets/reborn/images/default/image-slider-default-preview.png" alt="view">
            </div>
            <div class="_image-storage" id="imageStorage">
                [[+IMAGES+]]
            </div>
        </div>
        <div class="_info-block-description">
            <div class="_block-text">
                <h5>Описание</h5>
                <p>[*introtext*]</p>
            </div>
            <div class="_block-text">
                <h5>Примечание</h5>
                <p>{{catalog_intro_fiting}}</p>
            </div>
            <p class="_text-danger">Цены указаны без учета НДС</p>
            [[productsVideo]]
        </div>
    </div>
</div>
