<div class="_invoice-order-container">
    <div class="_invoice-order">
        <div>
            <h5 class="_order-title">Оформление заказа для незарегистрированных</h5>
            <p>Если Вы уже зарегистрированы на нашем сайте, пожалуйста, авторизуйтесь</p><br>
            <p><a href="/registration" style="border-bottom: 1px solid gray; cursor: pointer; color: black;">Регистрация</a> позволит вам сохранять свои заказы, вести их историю, сохранять данные для заказа (телефон и другую информацию), что упростит процесс заказа.</p>
        </div>
        <div>
            <div class="_login-block">
                <a href="/">Авторизоваться</a>
            </div>
            <div class="_signin-block">
                <a href="/">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</div>