<div class="_order-unregistered">
    <div class="_products-order">
        <h5 class="_order-title">Заказ</h5>
        <p>Обратите внимание</p>
        <ul>
            <li>цены указаны для предварительной оценки и не учитывают ндс, курс доллара и могут отличаться от реальных.</li>
            <li>пока что не все товары можно добавить в корзину. Такие товары можно указать в комментариях к заказу, указав код товара.</li>
        </ul>
        <div class="_shop-items-full">
            <div class="_item placeholder-glow">
                <div class="_item-scroll"></div>
                <div class="_item-image">
                    <img class="placeholder" src="/assets/reborn/images/default/cart-default-preview.png" alt="default">
                </div>
                <div class="_item-groups">
                    <div class="_info-group">
                        <p>
                            <span class="placeholder col-7"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-2"></span>
                            <span class="placeholder col-3"></span>
                        </p>
                    </div>
                    <div class="_button-group">
                        <p class="_product-price placeholder">$ <span>26.10</span></p>
                        <a class="_item-count-change" data-fl-cart-option="down" data-fl-cart-item="">
                            <img src="/assets/reborn/images/objects/product/count-down.svg" alt="down">
                        </a>
                        <input class="_item-count-input placeholder" id="" value="1" readonly>
                        <a class="_item-count-change" data-fl-cart-option="up" data-fl-cart-item="">
                            <img src="/assets/reborn/images/objects/product/count-up.svg" alt="down">
                        </a>
                        <a class="_item-delete" data-fl-cart-item="index">
                            <img src="/assets/reborn/images/objects/product/product-delete.svg" alt="X">
                        </a>
                    </div>
                    <div class="_info-group">
                        <a class="placeholder col-3" href="/"></a>
                    </div>
                    <div class="_comment-button _btn" data-fl-show="columnA">
                        <a class="placeholder">Добавить комментарий</a>
                    </div>
                    <div class="_comment-big-column" id="columnA">
                        <textarea class="_comment-textarea" id="commentArea" rows="3" placeholder="Комментарии"></textarea>
                        <label class="_comment-delete" for="commentArea">
                            <img src="/assets/reborn/images/objects/product/product-delete.svg" alt="X">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="_shop-footer-full">
            <a class="_shop-clear">Очистить корзину</a>
            <p class="_shop-result">Итого:
                <span>$</span>
                <span class="_total-result-value"></span>
                (
                <span class="_total-result-converted">0</span>
                руб. )
                <br>
                <span class="_total-nds">*без учета НДС</span>
            </p>
        </div>

    </div>
    <div class="_form-order">
        <h2 style="margin-bottom: 2em;">Данные для заказа</h2>
        [[+ORDER_FORM+]]
    </div>
</div>
