<div class="_webinar-preview">
    <div class="_webinar-container">
        <div class="_preview-planned">
            <div class="_planned-title">
                <img src="assets/reborn/images/objects/webinar/planned_webinars.svg" alt="planned webinars">
                <h1>Планируемые вебинары</h1>
            </div>
            [[+PLANNED+]]
        </div>
        <div class="_preview-completed">
            <div class="_planned-title">
                <img src="assets/reborn/images/objects/webinar/planned_webinars.svg" alt="completed webinars">
                <h1>Завершенные вебинары</h1>
            </div>
            [[+COMPLETED+]]
        </div>
    </div>
    <div class="_all-webinars">
        <a class="_webinars" href="/[[+ROOT_ALIAS+]]">Все вебинары</a>
    </div>
</div>